allow untrusted_app adsprpcd_exec:file getattr;
allow untrusted_app audiod_exec:file getattr;
allow untrusted_app bootanim_exec:file getattr;
allow untrusted_app btnvtool_exec:file getattr;
allow untrusted_app clatd_exec:file getattr;
allow untrusted_app debuggerd_exec:file getattr;
allow untrusted_app dhcp_exec:file getattr;
allow untrusted_app dnsmasq_exec:file getattr;
allow untrusted_app drmserver_exec:file getattr;
allow untrusted_app logd_exec:file getattr;
allow untrusted_app recovery_cache_file:dir { read getattr open };
allow untrusted_app recovery_cache_file:file getattr;
allow untrusted_app tombstone_data_file:dir getattr;
allow untrusted_app dumpstate_exec:file getattr;
allow untrusted_app hostapd_exec:file getattr;
allow untrusted_app install_recovery_exec:file getattr;
allow untrusted_app installd_exec:file getattr;
allow untrusted_app irsc_util_exec:file getattr;
allow untrusted_app keystore_exec:file getattr;
allow untrusted_app lmkd_exec:file getattr;
allow untrusted_app location_exec:file getattr;
allow untrusted_app mdnsd_exec:file getattr;
allow untrusted_app mediaserver_exec:file getattr;
allow untrusted_app mm-qcamerad_exec:file getattr;
allow untrusted_app mtp_exec:file getattr;
allow untrusted_app netd_exec:file getattr;
allow untrusted_app wcnss_service_exec:file getattr;
allow untrusted_app graphics_device:chr_file getattr;
allow untrusted_app graphics_device:dir getattr;
allow untrusted_app bluetooth_loader_exec:file getattr;
allow untrusted_app netmgrd_exec:file getattr;
allow untrusted_app perfd_exec:file getattr;
allow untrusted_app ppp_exec:file getattr;
allow untrusted_app qmuxd_exec:file getattr;
allow untrusted_app racoon_exec:file getattr;
allow untrusted_app rfs_access_exec:file getattr;
allow untrusted_app rild_exec:file getattr;
allow untrusted_app rmt_storage_exec:file getattr;
allow untrusted_app servicemanager_exec:file getattr;
allow untrusted_app ssr_diag_exec:file getattr;
allow untrusted_app ssr_setup_exec:file getattr;
allow untrusted_app subsystem_ramdump_exec:file getattr;
allow untrusted_app surfaceflinger_exec:file getattr;
allow untrusted_app thermal-engine_exec:file getattr;
allow untrusted_app uncrypt_exec:file getattr;
allow untrusted_app vdc_exec:file getattr;
allow untrusted_app wpa_exec:file getattr;
allow untrusted_app sdcardd_exec:file getattr;
allow untrusted_app sysinit_exec:file getattr;
allow untrusted_app time_daemon_exec:file getattr;
allow untrusted_app userinit_exec:file getattr;
allow untrusted_app vold_exec:file getattr;
allow untrusted_app tee_exec:file getattr;
